//隐藏代码
.hider_title{
    cursor: pointer;
    color: #ef4a05;
}
.close:before{
    content: "▼";
}
.open:before{
    content: "▲";
}

//粒子时钟
.site-overview {
  text-align: center;
}

canvas#canvas {
  margin-top: 20px;
}